.timer-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .time-circle-text {
    font-size: 30px;
    margin-bottom: 10px;
    transition: opacity 1s ease-in-out;
    color: rgb(236, 21, 21);
  }
  
  .timer {
    color: white;
    font-size: 7rem;
  }

  .give-up-button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }